catalog-service:
  image:
    repository: rrajo-portfolio/catalog-service
    tag: latest
users-service:
  image:
    repository: rrajo-portfolio/users-service
    tag: latest
orders-service:
  image:
    repository: rrajo-portfolio/orders-service
    tag: latest
