catalog-service:
  image:
    repository: rrajo-portfolio/catalog-service
    tag: latest
  env:
    SPRING_PROFILES_ACTIVE: k8s
    SPRING_DATASOURCE_URL: jdbc:mysql://catalog-mysql:3306/catalogdb
    SPRING_DATASOURCE_USERNAME: catalog_user
    SPRING_DATASOURCE_PASSWORD: catalog_pass
    SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://keycloak:8080/realms/portfolio
    SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    CATALOG_EVENTS_TOPIC: catalog-product-events

users-service:
  image:
    repository: rrajo-portfolio/users-service
    tag: latest
  env:
    SPRING_PROFILES_ACTIVE: k8s
    SPRING_DATASOURCE_URL: jdbc:mysql://users-mysql:3306/usersdb
    SPRING_DATASOURCE_USERNAME: users_user
    SPRING_DATASOURCE_PASSWORD: users_pass
    SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://keycloak:8080/realms/portfolio

orders-service:
  image:
    repository: rrajo-portfolio/orders-service
    tag: latest
  env:
    SPRING_PROFILES_ACTIVE: k8s
    SPRING_DATASOURCE_URL: jdbc:mysql://orders-mysql:3306/ordersdb
    SPRING_DATASOURCE_USERNAME: orders_user
    SPRING_DATASOURCE_PASSWORD: orders_pass
    SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://keycloak:8080/realms/portfolio
    SERVICES_USERS_BASE_URL: http://users-service:8080/api
    SERVICES_CATALOG_BASE_URL: http://catalog-service:8080/api
